@{
    //Layout = "~/Views/Shared/_MapLayout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GCC Water Audit Reporting GIS</h1>
    <p class="lead">This GI System was developed to report mainly on water audit data collected by ZIMIT</p>
    <p><a href="http://giskonsult.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Content coming soon
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more insights</h2>
        <p>Content coming soon</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How this works</h2>
        <p>Content coming soon.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>